.LinkedIn {
    width: 2.9em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.logoContact {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3em;
    position: relative;
    left: 0;
    z-index: 1333;  
    bottom: 1;
}

.link {

    text-decoration: none;
    color: var(--font-color);
    font-size: 2em;
    margin-bottom: 0.5em;

}

.navFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .link {
        text-decoration: none;
        color: var(--font-color);
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .logoContact {
        display: flex;
        flex-direction: row;
        gap: 0.4em;
    }

    .LinkedIn {
        width: 1.5em;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}